
.iodt-icon-globe:before { content: '\e800'; } /* '' */
.iodt-icon-info:before { content: '\e801'; } /* '' */
.iodt-icon-phone:before { content: '\e802'; } /* '' */
.iodt-icon-mail:before { content: '\e803'; } /* '' */
.iodt-icon-address-book:before { content: '\e804'; } /* '' */
.iodt-icon-website:before { content: '\e806'; } /* '' */
.iodt-icon-user:before { content: '\f061'; } /* '' */
.iodt-icon-desktop:before { content: '\f108'; } /* '' */
.iodt-icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.iodt-icon-linkedin-squared:before { content: '\f30c'; } /* '' */